body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 100%);
  text-align: left;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  /* Remove o sublinhado dos links */
}

/* Títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

/* Pagina estilo E-zine */

.e-zine {
  position: relative;
  max-width: auto;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 15px 10px 10px rgba(0.4, 0.3, 0.2, 0.1);
}

/*Imagen Flutuante*/

.imgFlutuante {
  padding: 20px;
}

.imgFlutuante-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgFlutuante img {
  width: 30%;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Div de Frase e Autor */
.divFraseAutor {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.frase,
.autor {
  text-align: left;
}

/* Cabeçalho */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  /* Cor do texto no cabeçalho */
  padding: 40px 0;
  /* Espaçamento interno no cabeçalho */
}

.header .header-content {
  text-align: center;
}

.apresentacao {
  margin-top: 100px;
}

.header .header-content .header-subtitle {
  font-weight: 700;
  font-size: 24px;
  /* Tamanho da fonte do subtítulo */
}

.header .header-content .header-title {
  font-size: 100px;
  /* Tamanho da fonte do título */
}

.header .header-content .header-mono {
  letter-spacing: 2px;
  /* Espaçamento entre as letras */
  font-weight: 500;
  font-size: 18px;
  /* Tamanho da fonte do texto mono */
}


/* Estilos para as seções */
section {
  padding: 10px 0;
  text-align: center;
}

section h2 {
  margin: 40px;
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

section:not(:last-child) {
  margin-bottom: 40px;
}


/* Gradientes  */

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.background-gradient {
  background: linear-gradient(45deg, #0fca89, #0fd9c8, #1c3bb4, #5201e8, #1352a0);
  background-size: 200% 200%;
  animation: gradientAnimation 15s linear infinite;
}

.background-gradient1 {
  background: linear-gradient(45deg, #1352a0, #693DAE, #800080, #693DAE, #1352a0);
  background-size: 200% 200%;
  animation: gradientAnimation 15s linear infinite;
}

.gradient-text {
  font-size: 36px;
  font-weight: bold;
  background: linear-gradient(120deg, #fdfbfb, #ebedf0, #d0d1e6, #a6b1e1, #748de6);
  background-size: 200% 200%;
  animation: gradientAnimation 4s linear infinite;
  -webkit-background-clip: text;
  color: transparent;
}


/* Botão para abrir a barra lateral direita */

.sidebar-toggle-button {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1001;
  padding: 3px 7px;
  background-color: white;
  border-radius: 10px;
  color: #000000;
  /* Cor do botão */
  font-size: 24px;
  /* Tamanho do ícone do botão */
  transition: transform 0.3s ease;
}

/* Classe adicionada quando o botão é clicado */
.sidebar-toggle-button.clicked {
  transform: rotate(90deg);
  /* Rotação quando clicado */
}

/* Estilo para a barra lateral à esquerda */
.sidebar {
  position: fixed;
  top: 120px;
  right: -100px;
  width: 100px;
  transition: right 0.3s;
  z-index: 1000;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 0;
  height: auto;
}

/* Alinhe os ícones no meio à esquerda em formato de coluna */
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.icon {
  display: block;
  margin-bottom: 50px;
}

.icon img {
  width: 50px;
}

/* Buttons */

.button {
  display: inline-block;
  background-color: #3399FF;
  /* Medium blue */
  color: white;
  padding: 15px 32px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 1s ease, box-shadow 1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #2E8BFF;
  /* Darker medium blue */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(3px);
}

.button:active {
  background-color: #00008B;
  /* Dark blue */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(85, 168, 236, 0.5);
  /* Light blue */
}

/* Keyframe animations */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.button:hover:active {
  animation: shake 0.5s;
}

.btIndex {
  margin: 50px auto;
  border: 10px solid #ffffff;
  transition: 0.5s;
  z-index: 1;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.btIndex:hover {
  box-shadow: 0 6px 10px rgba(255, 255, 255, 0.1);
  transform: translateY(6px);
}

/* Rodapé */
footer {
  text-align: center;
  padding-top: 30px;
  color: #000000;
}