h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Amiri, Georgia, "Times New Roman", serif;
}

/* botão index */

.btIndex {
  margin: 50px auto;
  border: 10px solid #ffffff;
  transition: 0.5s;
  z-index: 1;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.btIndex:hover {
  box-shadow: 0 6px 10px rgba(255, 255, 255, 0.1);
  transform: translateY(6px);
}

/* ANIMAÇÃO NOS BT */
.aniBtn {
  transition: transform 0.3s ease;
}

.aniBtn:hover {
  transform: translateY(5px);
  transition: transform 0.3s ease;
}

/* LOGIN */

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  background-color: black;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

/* Gradiente */

.background-gradient {
  background: linear-gradient(45deg, #094bce, #2f39eb, rgb(30, 193, 211), #492fdc, #21b4e0);
  background-size: 200% 200%;
  animation: gradientAnimation 40s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.15);
  /* Transparent white background */
  border-radius: 20px;
  /* Adjust border radius as needed */
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* Transparent white border */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  /* Glass shadow */
  backdrop-filter: blur(10px);
  /* Blur effect */
  -webkit-backdrop-filter: blur(10px);
  /* Blur effect for older browsers */
}

/* TITLE */
:root {
  --_fw-900: 900;
  --_fw-700: 700;
  --_fw-400: 400;

  --_clr-900: hsl(227, 65%, 80%);
  --_clr-700: hsl(235, 72%, 72%);
  --_clr-400: hsl(232, 73%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bubble-text {
  font-size: clamp(2rem, calc(2rem + 3.5vw), 8rem);
  color: hsl(0, 0%, 50%);
  user-select: none;

  &.split-text {
    display: inline-flex;
  }

  & .split-char {
    font-weight: 200;
    transition: font-weight 0.5s ease;

    &:hover {
      font-weight: var(--_fw-900);
      color: var(--_clr-900);
    }

    /* // right side */
    &:hover+.split-char {
      font-weight: var(--_fw-700);
      color: var(--_clr-700);
    }

    &:hover+.split-char+.split-char {
      font-weight: var(--_fw-400);
      color: var(--_clr-400);
    }

    /* // left side */
    &:has(+ .split-char:hover) {
      font-weight: var(--_fw-700);
      color: var(--_clr-700);
    }

    &:has(+ .split-char + .split-char:hover) {
      font-weight: var(--_fw-400);
      color: var(--_clr-400);
    }
  }
}

/* PULSE */

.pulse {
  transition: transform 0.3s ease;
}

.pulse:hover {
  transform: scale(1.1);
}

/* CHAT BOT */

.chat-body {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
}

.chat-messages {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.message-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.message-container.user {
  justify-content: flex-end;
}

.message-container.bot {
  justify-content: flex-start;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message {
  padding: 8px 12px;
  border-radius: 15px;
  max-width: 70%;
  word-wrap: break-word;
}

.message.user {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.message.bot {
  background-color: #e2e3e5;
  align-self: flex-start;
}

.card-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #e2e3e5;
}

.predefined-questions button {
  margin-top: 5px;
}


/* MINIGAME */

.RespirandoCores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.breathing-circle {
  background-color: rgba(0, 123, 255, 0.5);
  border-radius: 50%;
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
}

.instruction {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #007bff;
}

.score {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.timer {
  margin-bottom: 10px;
}

/**/

.game-container {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #f0f8ff;
  overflow: hidden;
}

.bubble {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(173, 216, 230, 0.6);
  border-radius: 50%;
  border: 2px solid rgba(173, 216, 230, 1);
  cursor: pointer;
  animation: float 4s linear infinite;
  transition: transform 0.3s, opacity 0.3s;
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-300px) rotate(45deg);
  }

  100% {
    transform: translateY(-600px) rotate(0deg);
  }
}


.burst {
  transform: scale(1.5);
  opacity: 0;
}

.score {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}


/* Icon Menu */

:root {
  --menu-center-size: 60px; /* Tamanho do centro do menu */
  --menu-icon-size: 20px; /* Tamanho dos ícones do menu */
  --menu-icon-spacing: 120px; /* Distância que os ícones se afastam do centro */
  --menu-move-distance: -200%; /* Distância que o menu se move */
  --music-player-move-distance: 200%; /* Distância que o music player se move */
}

.menu-container {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg) translateY(var(--menu-move-distance));
  width: var(--menu-center-size);
  height: var(--menu-center-size);
  border-radius: 50%;
  z-index: 1000; /* Garante que o menu-center esteja acima dos outros conteúdos */
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.menu-center {
  position: relative;
  z-index: 1; /* Garante que o menu-center esteja acima dos menu-icons */
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-180deg); /* Contra-rotação do centro do menu para compensar a rotação do container */
  transition: background-color 0.3s ease, transform 0.4s ease; /* Adiciona transição para animação suave */
}

.menu-icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg); /* Rotaciona os ícones de volta para sua posição original */
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  width: var(--menu-icon-size);
  height: var(--menu-icon-size);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg); /* Ajusta a rotação do ícone para expandir em direção ao topo */
  z-index: 0; /* Garante que os ícones estejam atrás do menu-center */
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--menu-icon-size);
  height: var(--menu-icon-size);
}

.hidden {
  transform: translateX(-50%) rotate(180deg) translateY(var(--menu-move-distance));
  /* Usa a variável para a distância de movimento */
}

.visible {
  transform: translateX(-50%) rotate(180deg) translateY(0);
  /* Traz o elemento para a posição original */
}

/* MUSIC PLAYER */

.music-player-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(var(--music-player-move-distance));
  transition: transform 2s ease, background 2s ease;
  z-index: 999;
}

.music-player {
  width: 100%;
  background: rgb(139,150,164);
  background: linear-gradient(0deg, rgba(139,150,164,1) 0%, rgba(255,255,255,0) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.music-player-container.hidden .music-player {
  background: linear-gradient(0deg, rgba(139,150,164,0) 0%, rgba(255,255,255,0) 100%);
}

.music-player-container.visible .music-player {
  background: linear-gradient(0deg, rgba(139,150,164,1) 0%, rgba(255,255,255,0) 100%);
}

.player-controls {
  display: flex;
  align-items: center;
}

.control-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  transition: transform 0.2s ease;
}

.control-button:hover {
  transform: scale(1.1);
}

.progress-bar {
  flex: 1;
  height: 4px;
  background-color: #ccc;
  border-radius: 2px;
  overflow: hidden;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  transition: height 0.3s ease;
}

.progress-bar:hover {
  height: 10px;
}

.progress {
  height: 100%;
  background-color: #007bff;
}

.song-info {
  flex: 2;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.song-cover {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.song-details {
  text-align: left;
}

.song-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.artist {
  color: #666;
  font-size: 14px;
}

.music-player-container.hidden {
  transform: translateY(var(--music-player-move-distance));
}

.music-player-container.visible {
  transform: translateY(0);
}

.text-muted-foreground {
  font-size: 12px;
  color: #000000;
  display: block;
  text-align: center;
  margin-top: 5px;
}
.fullscreen-modal .modal-dialog {
  max-width: 500px;
  margin: auto; /* Centraliza o modal */
}

.fullscreen-modal .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}

.fullscreen-modal .modal-header,
.fullscreen-modal .modal-body,
.fullscreen-modal .modal-footer {
  border: 0;
}

.fullscreen-modal .modal-body {
  overflow-y: auto;
}

.music-list {
  max-height: calc(100vh - 160px); /* Ajuste para a altura total menos cabeçalho e rodapé */
}

.music-item {
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.music-item:hover {
  background-color: #7a7a7a;
}

.music-title {
  font-size: 18px;
  font-weight: bold;
}

.music-artist {
  font-size: 16px;
}

.img-thumbnail {
  width: 80px;
  height: auto;
  object-fit: cover;
}

.modal-player-controls-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.modal-progress-bar {
  bottom: 50px;
  left: 0px;
  right: 0px;
  height: 5px;
  background-color: #ccc;
  cursor: pointer;
  transition: height 0.3s ease;
}

.modal-progress-bar:hover {
  height: 10px;
}

.modal-progress-bar .progress {
  height: 100%;
  background-color: #007bff;
}

.song-image {
  width: 200px; /* Diminuído para se ajustar ao modal */
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  z-index: 0;
}


@media (max-width: 768px) {
  .progress-bar,
  .list-button,
  .text-muted-foreground {
    display: none;
  }
}

